<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles-main">
        <app-big-card 
            id="1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXIUJjOGSnVxR6tKY7wOaW7By15PNPRLWCPCRhNec_7r1ZRBHNAHZEoaJPqAwViA-JFEg&usqp=CAU" 
            cardTitle="Hello, Dev!" 
            cardDescription="Estudando Angular em 2024">
        </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card 
            id="1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXIUJjOGSnVxR6tKY7wOaW7By15PNPRLWCPCRhNec_7r1ZRBHNAHZEoaJPqAwViA-JFEg&usqp=CAU" 
            cardTitle="Saiu a nova versão do Angular!">
        </app-small-card>
        <app-small-card 
            id="2"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXIUJjOGSnVxR6tKY7wOaW7By15PNPRLWCPCRhNec_7r1ZRBHNAHZEoaJPqAwViA-JFEg&usqp=CAU" 
            cardTitle="Saiu a nova versão do Angular!">
        </app-small-card>
        <app-small-card 
            id="3"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXIUJjOGSnVxR6tKY7wOaW7By15PNPRLWCPCRhNec_7r1ZRBHNAHZEoaJPqAwViA-JFEg&usqp=CAU" 
            cardTitle="Saiu a nova versão do Angular!">
        </app-small-card>
    </div>
</div>